<!-- def with content -->

<!DOCTYPE html>
<!DOCTYPE js>
<html>
<head>
	
	
	<link rel = "stylesheet" type = "text/css" href = "testsheet.css">
	<meta property="og:url"           content="" />
    <meta property="og:type"          content="Podcast Website" />
    <meta property="og:title"         content="Code Crammers" />
    <meta property="og:description"   content="A podcast site for the podcast Code Crammers" />
    <meta property="og:image"         content="http://www.your-domain.com/path/image.jpg" />
	
	
</head>
	
	
	
<body>
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
	</script>

	

<!-- Everything here is going into the wrapper  -->
	
	<div> <!-- Header -->
		
		<div id = "HeadingImage"> <!-- HeadingImage -->
		
		</div>
		
		<div id = "MenuBar"> <!-- MenuBar-->
			<div class = "linktextcontainer">
				<a class = "link" href = "/forum"> { archives, </a>
				<a class = "link" href = "/forum"> forum, </a>
				<a class = "link" href = "/links"> links, </a>
				<a class = "link" href = "/contact"> contact } </a>
			</div>
		</div>
		
	</div>
	
	
	<!-- Everything below this is to be built by framework  -->
	
	<div id = "main_wrapper"> <!-- Main_Wrapper -->
	
	<!-- Generate this shit dynamically -->

	<h1> CODE CRAMMERS</h1>

	<div> <!-- BodyWrapper -->
	
	<h2> Episode 1 - Introduction</h2>
	
	<div id = "Text"> <!--  Text -->
	
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vel malesuada est. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus faucibus metus non nisl auctor, at feugiat lacus commodo. Proin ultricies purus orci, tristique porttitor mi accumsan et. Maecenas sit amet suscipit tellus. Integer in egestas velit, quis condimentum leo. Nullam sit amet arcu leo. Nunc a odio mattis, semper risus at, gravida metus. Suspendisse ornare malesuada mauris congue vulputate. Morbi in nibh velit. Maecenas eu sodales leo.
	<br>
	Maecenas fermentum arcu nunc, vitae dignissim metus porttitor non. Donec consectetur luctus ligula, eu congue purus feugiat nec. Donec eu ex pharetra mauris viverra fringilla viverra pharetra mauris. Sed vulputate odio massa, a pulvinar quam interdum at. Integer eleifend, turpis sit amet mattis malesuada, leo sem posuere neque, et iaculis mauris purus eu orci. Mauris ullamcorper mauris ac mi condimentum feugiat. Curabitur viverra laoreet vehicula. Quisque tempus est nec ante mollis, a euismod nulla ultricies. Aliquam auctor placerat quam, vitae finibus erat. Nullam nec scelerisque nibh, quis lobortis neque.
	<br>
	Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.	
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vel malesuada est. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus faucibus metus non nisl auctor, at feugiat lacus commodo. Proin ultricies purus orci, tristique porttitor mi accumsan et. Maecenas sit amet suscipit tellus. Integer in egestas velit, quis condimentum leo. Nullam sit amet arcu leo. Nunc a odio mattis, semper risus at, gravida metus. Suspendisse ornare malesuada mauris congue vulputate. Morbi in nibh velit. Maecenas eu sodales leo.
	<br>
	Maecenas fermentum arcu nunc, vitae dignissim metus porttitor non. Donec consectetur luctus ligula, eu congue purus feugiat nec. Donec eu ex pharetra mauris viverra fringilla viverra pharetra mauris. Sed vulputate odio massa, a pulvinar quam interdum at. Integer eleifend, turpis sit amet mattis malesuada, leo sem posuere neque, et iaculis mauris purus eu orci. Mauris ullamcorper mauris ac mi condimentum feugiat. Curabitur viverra laoreet vehicula. Quisque tempus est nec ante mollis, a euismod nulla ultricies. Aliquam auctor placerat quam, vitae finibus erat. Nullam nec scelerisque nibh, quis lobortis neque.
	<br>
	Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
	</div>	
	
	</div>


<div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="standard" data-action="like" data-show-faces="true" data-share="true">Click to Like</div>
</body>

</div>
</html>
